In [94]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import numpy as np

from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.naive_bayes import GaussianNB
import time

In [149]:
#start_time = time.time()

#data = pd.read_csv("train_time_series.csv", skiprows = [1,2,3,4])
data = pd.read_csv("train_time_series.csv")

In [150]:
data.head()

,Unnamed: 0,timestamp,UTC time,accuracy,x,y,z
0,20586,1565109930787,2019-08-06T16:45:30.787,unknown,-0.006485,-0.934860,-0.069046
1,20587,1565109930887,2019-08-06T16:45:30.887,unknown,-0.066467,-1.015442,0.089554
2,20588,1565109930987,2019-08-06T16:45:30.987,unknown,-0.043488,-1.021255,0.178467
3,20589,1565109931087,2019-08-06T16:45:31.087,unknown,-0.053802,-0.987701,0.068985
4,20590,1565109931188,2019-08-06T16:45:31.188,unknown,-0.054031,-1.003616,0.126450

In [165]:
#labels = pd.read_csv("train_labels.csv", skiprows = [1])
labels.head()
labels = pd.read_csv("train_labels.csv")

labels.head()

   Unnamed: 0      timestamp                 UTC time  label
0       20589  1565109931087  2019-08-06T16:45:31.087      1
1       20599  1565109932090  2019-08-06T16:45:32.090      1
2       20609  1565109933092  2019-08-06T16:45:33.092      1
3       20619  1565109934094  2019-08-06T16:45:34.094      1
4       20629  1565109935097  2019-08-06T16:45:35.097      1

In [14]:
np.any((labels['label']==3))
list(range(1,5))

[1, 2, 3, 4]

In [90]:
test_labels = pd.read_csv("test_labels.csv")
test_labels.head()

   Unnamed: 0      timestamp                 UTC time  label
0       24339  1565110307041  2019-08-06T16:51:47.041    NaN
1       24349  1565110308043  2019-08-06T16:51:48.043    NaN
2       24359  1565110309046  2019-08-06T16:51:49.046    NaN
3       24369  1565110310048  2019-08-06T16:51:50.048    NaN
4       24379  1565110311050  2019-08-06T16:51:51.050    NaN

In [181]:
test_time_series = pd.read_csv("test_time_series.csv")
test_time_series.head()
len(test_time_series)
x_test = test_time_series[["x", "y","z"]]
x_test = x_test.sample(125, replace=False)
x_test.values
#len(x_test)
#x_test = x_test.reshape(len(x_test),-1)
#x_test.shape
#test = x_test
x_test.shape

(125, 3)

2

In [160]:
x_train = data[["x", "y", "z"]]

In [182]:
len(x_train)
type(x_train)
x_train.shape
x_train = x_train.sample(375, replace=False)
x_train.values

array([[ 1.82167053e+00, -2.63519287e+00,  1.50985718e+00],
       [ 3.24157715e-01, -9.85855103e-01,  3.71185303e-01],
       [-6.43920898e-03, -7.41180420e-01,  7.17163086e-04],
       ...,
       [ 5.23742676e-01, -1.70686340e+00,  5.59631348e-01],
       [ 4.20410156e-01, -8.59695435e-01, -1.72271729e-02],
       [ 4.52514648e-01, -9.84130859e-01,  3.96728516e-03]])

In [183]:
#len(x_train)
#x_train.shape
#x_train = x_train.reshape(len(x_train),-1)
#x_train.shape

#X = x_train
#X.shape

In [166]:
y_train = labels["label"].values.astype (int)

In [169]:
y_train
len(y_train)
y_train.shape
#type(y_train)

(375,)

In [170]:
from sklearn.linear_model import LogisticRegression
#model = LogisticRegression()
#model = make_pipeline (StandardScaler (), SVC (gamma = "auto"))
model = GaussianNB()


#y_test = train_test_split(X, Y, test_size = 0.2, random_state = 42)
#print(X_test.shape)
#print(X_train.shape)
#print(y_test.shape)
#print(y_train.shape)
#len(y_test)

In [210]:
for i in range(100000):
    x_train = data[["x", "y", "z"]]
    x_train = x_train.sample(375, replace=False)
    x_train.values

    model = model.fit(x_train,y_train)

In [218]:
start_time = time.time()

pred_labels = model.predict(x_test)
pred_labels
print("The code runtime is %s seconds " % (time.time() - start_time))

#pred_labels.tofile("predicted_labels.csv")
#pred_labels.shape
#y_train.shape
np.array(pred_labels)
#os.getcwd()
#labels = "/Users/asare/predicted_labels.csv"
#pd.read_csv("labels")

The code runtime is 0.0026438236236572266 seconds

array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 3, 2, 2, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 3, 2, 2, 3, 2, 2, 3, 2, 2, 2,
       2, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [176]:
#model.score(pred_labels,y_train)

In [65]:
#start_time = time.time()

#print("--- %s seconds ---" % (time.time() - start_time))

--- 0.00018978118896484375 seconds ---

In [2]:
import os
os.listdir()

['untitled11.py',
 'corr_whisky.pdf',
 '.Rhistory',
 'Music',
 'untitled4.py',
 'hist.pdf',
 'myplot.pdf',
 '.condarc',
 'untitled0.py',
 'Untitled1.ipynb',
 'untitled14.py',
 '.vim',
 'train_labels.csv',
 '.DS_Store',
 'untitled1.py',
 'test_labels.csv',
 '.CFUserTextEncoding',
 'untitled10.py',
 'book_dir',
 'java_error_in_pycharm_661.log',
 'Untitled3.ipynb',
 'untitled5.py',
 'felix',
 '3traj.pdf',
 'Untitled.ipynb',
 '.zshrc',
 'er_graph.pdf',
 'Untitled4.ipynb',
 '.local',
 'Pictures',
 'fig.pdf',
 'iris.pdf',
 'map.pdf',
 '.zprofile',
 'iris_grid.pdf',
 'pred_labels.csv',
 'hist1.pdf',
 'train_time_series.csv',
 'corr_flavor.png',
 '.zsh_history',
 'Untitled2.ipynb',
 '.ipython',
 'pd_hist.pdf',
 'Desktop',
 'Library',
 '.matplotlib',
 'bivardata.pdf',
 'corr_flavor.pdf',
 'whiskies.txt',
 '.spyder-py3',
 'bird_tracking.csv',
 'predicted_labels.csv',
 'test_time_series.csv',
 'regions.txt',
 'untitled8.py',
 'knn_synth_5.pdf',
 'array.csv',
 'asare.pdf',
 'PycharmProjects',
 'Public',
 '.idlerc',
 'timeplot.pdf',
 '.RData',
 'Spatial_Example.html',
 'FelixDir',
 '.anaconda',
 'Movies',
 'correlations.pdf',
 'untitled9.py',
 'opt',
 'java_error_in_pycharm_540.log',
 '.Trash',
 '.ipynb_checkpoints',
 'village_hist.pdf',
 '.jupyter',
 'dms.pdf',
 'Documents',
 'untitled2.py',
 'Basic_Example.html',
 '.rstudio-desktop',
 'java_error_in_pycharm_530.log',
 '.kite',
 'untitled6.py',
 'karate_club_graph.pdf',
 'Downloads',
 'village2.pdf',
 'iBackupBot',
 'untitled12.py',
 'adj_allVillageRelationships_vilno_1.csv',
 'HarvardX PH526x Certificate | edX.pdf',
 'untitled7.py',
 '.zsh_sessions',
 'Whisky Correlations.html',
 'village1.pdf',
 'adj_allVillageRelationships_vilno_2.csv',
 '.conda',
 'untitled3.py',
 '.idea']

In [122]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]